extends ../../shared/admin/layout

block append title
  title= 'Review ' + (review.type || '') + ' ' + review.status
  - var action = 'reviews'

block content
  .container(style="width: 80%")
    - var id = review._id.toString()
    h2= 'Review ' + id.slice(0,2) + '..' + id.slice(-3) + ' ' + (review.type || '') + ' (' + review.status + ')'

    form.form-horizontal
      .form-group
        label.col-sm-1.control-label ID:
        .col-sm-10
          p.form-control-static= id
      .form-group
        label.col-sm-1.control-label Action:
        .col-sm-10
          p.form-control-static= (review.github || {}).action
      .form-group
        label.col-sm-1.control-label Number:
        .col-sm-10
          p.form-control-static= (review.github || {}).number
      .form-group
        label.col-sm-1.control-label Status:
        .col-sm-10
          p.form-control-static= review.status

      - var pull = review.pull
      if pull
        .form-group
          label.col-sm-1.control-label Pull Url:
          .col-sm-10
            p.form-control-static= pull.url
        .form-group
          label.col-sm-1.control-label Pull Path:
          .col-sm-10
            p.form-control-static= pull.path
        .form-group
          label.col-sm-1.control-label Pull Archive:
          .col-sm-10
            p.form-control-static= pull.archive
        .form-group
          label.col-sm-1.control-label Pull Source:
          .col-sm-10
            p.form-control-static= pull.source

    form(action="/admin/reviews/#{review._id}/pull", method='post', style="display: inline;")
      input.btn.btn-default#pull(type='submit', value="PULL")
    form(action="/admin/reviews/#{review._id}/analyze", method='post', style="display: inline;")
      input.btn.btn-default#analyze(type='submit', value="ANALYZE")
    form(action="/admin/reviews/#{review._id}/push", method='post', style="display: inline;")
      input.btn.btn-default#push(type='submit', value="PUSH")
    | &nbsp; &nbsp; &nbsp;
    a(href='/admin/reviews') Back
    div(style="float: right;")
      form(action="/admin/reviews/#{review._id}", method='post', style="display: inline;")
        input(type='hidden', name="_method" value="delete")
        input.btn.btn-danger#delete(type='submit', value="DELETE")

    br
    br

    a(href="/admin/reviews/#{review._id}/raw", target='_blank') Raw
    div(style="margin-top: 10px;")
      label Formatted Raw:&nbsp;
      #review_json(style="width: 100%;")
        - review.pull = '[removed]'
        - review.analyze = '[removed]'
        - review.push = '[removed]'
        = JSON.stringify(review, null, 2)

