extends ../../shared/private/layout

block append title
  title Repositories
  - var action = 'repos'

block content
  h2
    .btn-group
      button.btn.btn-default.dropdown-toggle.btn-sm(type="button" id="dropdownMenu1" data-toggle="dropdown" style="background-color: white;")
        img(src=selectedAccount.avatar_url,  width="40px", height="40px")
        | &nbsp;
        = selectedAccount.login
        | &nbsp;
        span.caret
      ul.dropdown-menu(role="menu" style="background-color: white;")
        for org in orgs
          li
            a(tabindex="-1" href="?org=#{org.login}")
              img(src=org.avatar_url,  width="40px", height="40px")
              | &nbsp;
              = org.login
    | &nbsp;
    | Repositories

  table.table.table-stripped
    thead
      tr
        th= 'ID'
        th= 'Name'
        th= 'Full Name'
        th= 'Watch'
    tbody
      - var statuses = { "pending": "", "active": "label-success", "nopassword": "labal-warning", "unconfirmed": "label-info", "noaccess": "label-important" }
      for repo in repos
        tr
          td
            a(href="/private/repos/#{repo.owner.login}/#{repo.name}")= repo.id
          td= repo.name
          td= repo.full_name
          td
            a.glyphicon.glyphicon-globe(href='#')
  br
  input.total(type='hidden', name='total', value=total)
  input.page(type='hidden', name='total', value=page)
  .pagination
  br


      
